@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

#gradient-circles {
    position:absolute;
    width:100%;
    left:12.5%;
    top:25%;
}

text {
  position: absolute;
  top: 20%;
  left:50%;
  font-family: "Courier Prime", monospace;
  font-size: 75%;
  animation: rotate 300s linear infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


